<div class="navbar">
  <div class="navbar-content">
    <div>
      <img src="../../../assets/designitwell.svg" />
    </div>
    <div class="link-box">
      <div class="navbar-link"><a href="#">Method</a></div>
      <div class="navbar-link"><a href="#">Feedbacks</a></div>
      <div class="navbar-link"><a href="#">Queries</a></div>
      <div class="navbar-link"><a href="#">Contribution</a></div>
      <div class="user-icon">
        <img src="../../../assets/UserIcon.svg" />
      </div>
    </div>
  </div>
</div>
